<section class="h-100 h-custom" style="background-color: #d2c9ff">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="fw-bold mb-0 text-black">장바구니</h1>
                    <h6 class="mb-0 text-muted">총 수량 : 3 items</h6>
                  </div>
                  <hr class="my-4" />

                  <!-- 장바구니 하나 시작 -->
                  <% if(cartProduct.length != 0){ for(i=0; i < cartProduct.length; i++){%>
                  <form id="carForm" action="">
                    <div class="row mb-4 d-flex justify-content-between align-items-center">
                      <div class="col-md-2 col-lg-2 col-xl-2">
                        <input type="checkbox" id="cartChk" value="<%- cartProduct[i].SUM_PRICE%>" />
                        <img src="../../<%=cartProduct[i].PRODUCT_IMG%>" class="img-fluid rounded-3" alt="productImg" />
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-3">
                        <h6 class="text-muted">상품코드 : <%=cartProduct[i].PRODUCT_ID%></h6>
                        <h6 class="text-black mb-1"><%=cartProduct[i].PRODUCT_NAME%></h6>
                        <h6 class="text-black mb-1"><%=cartProduct[i].SUM_PRICE / cartProduct[i].CARTPRODUCT_COUNT%>원</h6>
                      </div>

                      <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                        <h6 id="count" class="mb-0">선택된 수량 : <%=cartProduct[i].CARTPRODUCT_COUNT%></h6>
                      </div>
                      <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                        <h6 class="mb-0">총 가격 : <%- cartProduct[i].SUM_PRICE%>원</h6>
                      </div>
                      <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                        <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
                      </div>
                    </div>
                  </form>

                  <hr class="my-4" />
                  <%}%> <%} else {%>
                  <h2>장바구니에 상품이 존재하지 않습니다.</h2>
                  <%}%>

                  <!-- 장바구니 하나 끝 -->

                  <div class="pt-5">
                    <h6 class="mb-0">
                      <a href="#!" class="text-body"><i class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a>
                    </h6>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 bg-grey">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">합계</h3>
                  <hr class="my-4" />

                  <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-uppercase"><%- cartProduct.map((a)=> a.CARTPRODUCT_COUNT).reduce((acc, curr) => acc + curr) %> 개</h5>
                    <h5><%- cartProduct.map((a)=> a.SUM_PRICE).reduce((acc, curr) => acc + curr) %> 원</h5>
                  </div>

                  <h5 class="text-uppercase mb-3">할인</h5>

                  <div class="mb-4 pb-2">
                    <select class="select" disabled>
                      <option value="1">준비 중 입니다.</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                    </select>
                  </div>

                  <h5 class="text-uppercase mb-3">Give code</h5>

                  <div class="mb-5">
                    <div class="form-outline">
                      <input type="text" id="form3Examplea2" class="form-control form-control-lg" disabled />
                      <label class="form-label" for="form3Examplea2">준비 중 입니다.</label>
                    </div>
                  </div>

                  <hr class="my-4" />

                  <div class="d-flex justify-content-between mb-5">
                    <h5>총 결제 금액은?</h5>
                    <h5 id="total" class="text-uppercase">0원</h5>
                  </div>

                  <button type="button" class="btn btn-dark btn-block btn-lg" data-mdb-ripple-color="dark">구매하기</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  const chkBtns = document.querySelectorAll("#cartChk");
  let totalPrice = 0;
  for (const chkBtn of chkBtns) {
    chkBtn.addEventListener("change", function (event) {
      if (event.target.checked) {
        totalPrice = totalPrice + parseInt(event.target.value, 10);
        console.log("총합은? :" + totalPrice);
        console.log("체크");
        document.querySelector("#total").innerText = totalPrice + "원";
      } else {
        totalPrice = totalPrice - parseInt(event.target.value, 10);
        document.querySelector("#total").innerText = totalPrice + "원";
        console.log("체크X");
      }
    });
  }
</script>
